.jumbotron {
  color: white;
  background-color: #579b69;
}

.jumbotron p {
  opacity: 0.7;
}

.jumbotron p .btn-default {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
}

.jumbotron p .btn-default:hover {
  border-color: white;
  background-color: rgba(255, 255, 255, 0.2);
}